body {
    
    /*background: linear-gradient (url(../img/put_your_image_here_51.png) , url(../img/overlay_29.png) ;*/
    background: url(../img/overlay_29.png), url(../img/put_your_image_here_51.png);
    /*background-color: transparent; */
    background-repeat: no-repeat;
  
   
   
}

.container {
    text-align: center;
}

.h1 {
    color: white;
   /* text-align: center; */
    margin-top: 183px;
}

.line {
    
    margin-top: 25px;
}

.main-text {
    color: white;
  text-align: center;
    margin: 25px 208px 0 208px;
     
}


.href {
    font-family: Roboto;
font-size: 13px;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.025em;
color: #ffffff;
margin-right: 30px;

text-decoration: none;
}

.nav {
    margin-top: 35px;
}

.tajam {
   
font-family: Roboto;
font-size: 30px;
line-height: 1.2;
font-weight: 100;
color: #4aa3cc;
margin-left: 150px;
margin-top: -45px;
}

/************************ carousel **************************/

@import "bourbon";
/*---- NUMBER OF SLIDE CONFIGURATION ----*/
$num-of-slide: 5;

.wrapper {
    max-width: 60em;
    margin: 1em auto;
    position: relative;
}

input {
    display: none;
}

.inner {
    width: percentage($num-of-slide);
    line-height: 0;
}

article {
    width: percentage(1/$num-of-slide);
    float: left;
    position: relative;

    img {
        width: 100%;
    }
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    @include transform(translateY(-50%));

    label {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

.slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;

    label {
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #bbb;
        @include transition(all 0.3s);

        &:hover {
            background: #ccc;
            border-color: #777;
        }
    }
}

/* Info Box */
.info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    @include transition(all 1000ms ease-out 600ms);

    h3 {
        color: #fcfff4;
        margin: 0 0 5px;
        font-weight: normal;
        font-size: 1.5em;
        font-style: normal;
    }

    &.top-left {
        top: 30px;
        left: 30px;
    }

    &.top-right {
        top: 30px;
        right: 30px;
    }

    &.bottom-left {
        bottom: 30px;
        left: 30px;
    }

    &.bottom-right {
        bottom: 30px;
        right: 30px;
    }
}

/* Slider Styling */
.slider-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    @include transform(translateZ(0));
    @include transition(all 500ms ease-out);

    .inner {
        @include transform(translateZ(0));
        @include transition(all 800ms cubic-bezier(0.77, 0, 0.175, 1));
    }
}

/*---- SET POSITION FOR SLIDE ----*/
%bind-prev-next-button {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
}

%bind-next-button {
    @extend %bind-prev-next-button;
    content: "\f105";
    padding-left: 15px;
}

%bind-next-label {
    display: block;
    float: right;
    margin-right: 5px;
}

%bind-prev-label {
    display: block;
    float: left;
    margin-left: 5px;
}

%bind-prev-button {
    @extend %bind-prev-next-button;
    content: "\f104";
    padding-left: 8px;
}

%bind-background-active-dot {
    background: #333;
}

%bind-opacity-info {
    opacity: 1;
}

@for $i from 1 through $num-of-slide {
    #slide#{$i}:checked {
        & ~ .slider-wrapper .inner {
            margin-left: percentage(1 - $i);
        }

        & ~ .slider-dot-control label:nth-child(#{$i}) {
            @extend %bind-background-active-dot;
        }

        & ~ .slider-wrapper article:nth-child(#{$i}) .info {
            @extend %bind-opacity-info;
        }
    }
}

@for $i from 1 through ($num-of-slide - 1) {
    #slide#{$i}:checked {
        & ~ .slider-prev-next-control label:nth-child(#{$i +1}) {
            @extend %bind-next-label;

            &::after {
                @extend %bind-next-button;
            }
        }
    }
}

#slide#{$num-of-slide}:checked ~ .slider-prev-next-control label:nth-child(1) {
    @extend %bind-next-label;

    &::after {
        @extend %bind-next-button;
    }
}

@for $i from 2 through $num-of-slide {
    #slide#{$i}:checked {
        & ~ .slider-prev-next-control label:nth-child(#{$i - 1}) {
            @extend %bind-prev-label;

            &::after {
                @extend %bind-prev-button;
            }
        }
    }
}

#slide#{1}:checked ~ .slider-prev-next-control label:nth-child(#{$num-of-slide}) {
    @extend %bind-prev-label;

    &::after {
        @extend %bind-prev-button;
    }
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }
}

/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }

    .slider-wrapper .info {
        opacity: 0;
    }
}

@media only screen and (min-width: 850px) {
    body {
        padding: 0 80px;
    }
}


.arrow {
    margin-top: 20px;
}

#header {
    margin-bottom: 70px;
}

.btn-learn-more-agency {
font-family: HammersmithOne;
font-size: 16px;
line-height: 1.2;
font-weight: 400;
color: #00e0d0;
border-color: #00e0d0;
background-color: transparent;
padding: 15px;
margin: 65px auto 120px auto;
display: block;
text-transform: uppercase;
}


.dot1 {
    
    margin-left: 575px; 
    margin-bottom: 70px;
    width: 34px;
    height: 10px;
    display: block;
}

.dot2 {
    
  
    width: 34px;
    height: 10px;
    display: block;
}
.dot3 {
    
    
    width: 34px;
    height: 10px;
    display: block;
}
.dot4 {
   
    width: 34px;
    height: 10px;
    display: block;
}

.h1 {
    text-align: center;
}

.line {
    margin: 0 auto;
    display: block;
}

.h4 {
    text-align: left;
}

.text {
    text-align: left;
}



.our_story {
    text-align: left;
}


.btn-learn-more-story {
    font-family: HammersmithOne;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #00e0d0;
    border-color: #00e0d0;
    background-color: transparent;
    padding: 15px;
    margin-top: 31px;
    margin-bottom: 70px;
    display: block;
    text-transform: uppercase;
    }

#story-video {
    background-color: #4aa3cc;
    
    height: 550px;
    opacity: 0.85;
}

.circle {
    margin: 240px 500px;
    width: 100px;
    height: 80px;
    
}

.triangle {
    margin: 260px -570px;
    width: 50px;
    height: 35px;
    z-index: 1;
}

.text-under-video {
text-align: center; 
font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.05em;
color: #ffffff;
text-transform: uppercase;
margin-top: -220px;
}

.big-arrow {
    margin: 0 100px;
}

#story {
    margin-top: 70px;
}

/************************ expertise **************************/

.expertise {
    height: 755px;
    display: inline;
    
}

.exhead {
    background-color: rgb(255, 255, 255);
}

.exp {
    margin-top: 70px;
    font-family: PlayfairDisplay;
font-size: 22px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.05em;
color: #413d4b;
text-transform: uppercase;
}

.exp-separator {
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 2px;
    opacity: 0.3;
    background-color: #413d4b;
}

.exp-heading {
margin-top: 35px;
font-family: Roboto;
font-size: 14px;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.05em;
color: #413d4b;
}

.exp-text {
margin-top: 25px;
opacity: 0.74;
font-family: Roboto;
font-size: 14px;
line-height: 22px;
font-weight: 300;
letter-spacing: 0.05em;
color: #333333;
}

.exp-img {
    margin-top: 80px
}



/******** meet our team ********/



.meet {
    background-image: url(../img/overlay_1799.png);
}

.meet-our-team {
    /* height: 712px; */
}

    .meet-heading {
    font-family: PlayfairDisplay;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-top: 70px;
    }

    .meet-text {
        font-family: PlayfairDisplay;
font-size: 14px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.075em;
color: #f9f9f9;
    }

.meet-separator {
    width: 50px;
height: 2px;
opacity: 0.2;
background-color: #ffffff;
margin: 0 auto;
display: inline;
}

.team-member {
   margin-top: 47px;
  /* margin-left: 20px; */
}

.member-name {
margin-top: 23px;
    opacity: 0.87;
font-family: Roboto;
font-size: 14px;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.05em;
color: #ffffff;
}

.profession {
margin-top: 12px;
    opacity: 0.61;
font-family: Roboto;
font-size: 13px;
line-height: 1.2;
font-weight: 300;
color: #fafafa;
}

.join-us {
    margin-top: 70px;
    font-family: Roboto;
font-size: 14px;
line-height: 1.2;
font-weight: 300;
letter-spacing: 0.05em;
color: #f3f3f3;
}

.btn-we-are-hiring {
    
    font-family: HammersmithOne;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #00e0d0;
    border-color: #00e0d0;
    background-color: transparent;
    padding: 15px;
    margin-top: 25px auto;
    display: inline;
    text-transform: uppercase;
    margin-bottom: 70px;
    }


    /*********** our works ****************/
.work-heading {
    text-transform: uppercase;
}

    .our-works {
    text-align: center;
    margin-top: 70px;
    
}

.arrow-right {
    margin-top: -3px;
    margin-left: 3px;
}

.see-all-projects {
    display: inline;
}

.works-first-row {
    display: inline;
    width: 235px; 
    height: 200px;
    margin-top: 70px; 
    margin-left: 0px;
   
}

.container {
    margin-left: -10px;
}

.works-second-row {
    display: inline;
    width: 235px;
    height: 200px;
    margin-top: 0; 
    margin-left: 0px;
}
.btn-load-more {
    font-family: HammersmithOne;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #00e0d0;
    border-color: #00e0d0;
    background-color: transparent;
    padding: 15px;
    margin: 70px auto;
    display: inline;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    
    
}

/*********** comments ****************/

.comments {
    background: url(../img/overlay_1053.png);
    min-height: 500px;
}
.quotes {
    margin-top: 70px;
    opacity: 0.9;
font-family: PlayfairDisplay;
font-size: 100px;
line-height: 22px;
font-weight: 400;
letter-spacing: 0.03em;
color: #ffffff;
}

.comment-text {
    opacity: 0.85;
font-family: PlayfairDisplay;
font-size: 16px;
line-height: 26px;
font-weight: 400;
letter-spacing: 0.025em;
color: #ffffff;
}

.commentators-name {
margin-top: 50px;
    font-family: Roboto;
font-size: 14px;
line-height: 22px;
font-weight: 900;
letter-spacing: 0.05em;
color: #ffffff;
}

.commentators-profession {
margin-top: -10px;
opacity: 0.7;
font-family: Roboto;
font-size: 13px;
line-height: 22px;
font-weight: 300;
color: #ffffff;
}

.commentators {
    margin: 45px 8px;
    
}


/********** feedback *************/


.feedback {
    min-height: 500px;
}

.good-news {
    margin-top: 70px;
    font-family: PlayfairDisplay;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #413d4b;
}

.form-name {
    width: 460px;
height: 45px;
opacity: 0.1;
border: 1px solid #000000;
    margin-top: 20px;
    font-family: PlayfairDisplay;
font-size: 22px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.05em;
color: #413d4b;
}

.form-email {
    width: 460px;
height: 45px;
opacity: 0.1;
border: 1px solid #000000;
    margin-top: 20px;
    font-family: PlayfairDisplay;
font-size: 22px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.05em;
color: #413d4b;
}

.form-subject {
    width: 460px;
height: 45px;
opacity: 0.1;
border: 1px solid #000000;
    margin-top: 20px;
    font-family: PlayfairDisplay;
font-size: 22px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.05em;
color: #413d4b;
}

.form-message {
    width: 460px;
height: 200px;
opacity: 0.1;
border: 1px solid #000000;
    margin-top: 20px;
    font-family: PlayfairDisplay;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #413d4b;
}

.btn-submit {
    margin-top: 20px;
    margin-left: 38px;
   display: block;
    width: 120px;
height: 40px;
border: 1px solid #00e0d0;
    font-family: HammersmithOne;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #00e0d0; 
    text-transform: uppercase;
}

.happy-client {
    margin-top: 70px;
    font-family: PlayfairDisplay;
font-size: 22px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.05em;
color: #413d4b;
}

input[type="text"]::placeholder  {
    opacity: 0.5;
font-family: Roboto;
font-size: 14px;
line-height: 1.2;
font-weight: 300;
letter-spacing: 0.05em;
color: #4615c2;
}

.barneys {
width: 154px;
height: 41px;
}

.gucci {
width: 140px;
height: 21px;
}

