body {
    
    background-image: url(/img/put_your_image_here_51.png), url(/img/overlay_29.png);
    /*background-color: transparent; */
  
   
   
}

.container {
    text-align: center;
}

.h1 {
    color: white;
   /* text-align: center; */
    margin-top: 183px;
}

.line {
    
    margin-top: 25px;
}

.main-text {
    color: white;
  /*  text-align: center; */
    margin: 25px 208px 0 208px;
     
}


.href {
    font-family: Roboto;
font-size: 13px;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.025em;
color: #ffffff;
margin-right: 30px;

text-decoration: none;
}

.nav {
    margin-top: 35px;
}

.tajam {
   
font-family: Roboto;
font-size: 30px;
line-height: 1.2;
font-weight: 100;
color: #4aa3cc;
margin-left: 150px;
margin-top: -45px;
}

.arrow {
    margin-top: 20px;
}

.btn-learn-more {
    margin-top: 50px;
    font-family: HammersmithOne;
font-size: 16px;
line-height: 1.2;
font-weight: 400;
color: #00e0d0;
border-color: #00e0d0;
background-color: transparent;
padding: 15px;
}

.circles {
    margin-top: 125px; 
}