html {
  overflow-x: hidden;
}

.wrapper {
  width: 100% !important;
}

body {
  background: url(../img/header/header_background.jpg) no-repeat;
}

a {
  text-decoration: none;
  color: #00e0d0;
}

a:hover {
  color: #00e0d0;
}

.container {
  text-align: center;
}

.h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 183px;
}

.line {
  margin-top: 25px;
}

.main-text {
  color: #ffffff;
  text-align: center;
  margin: 25px 208px 0 208px;
}

.href {
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-right: 30px;
  text-decoration: none;
}

.nav {
  margin-top: 35px;
}

.tajam {
  font-family: Roboto;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 100;
  color: #4aa3cc;
  margin-left: 150px;
  margin-top: -50px;
}

.arrow {
  margin-top: 25px;
}

#header {
  margin-bottom: 100px;
}

/*********************** Carousel ************************/
.fotorama {
  margin-top: -60px;
  margin-top: 10px;
  min-height: 600px;
  max-height: 600px;
}

/*********************** Carousel End ************************/
.btn-learn-more-agency {
  font-family: HammersmithOne;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #00e0d0;
  border-color: #00e0d0;
  background-color: transparent;
  padding: 15px;
  margin: 65px auto 120px auto;
  display: block;
  text-transform: uppercase;
}

.h1 {
  text-align: center;
}

.line {
  margin: 0 auto;
  display: block;
}

.h4 {
  text-align: left;
}

.text {
  text-align: left;
}

.our_story {
  text-align: left;
}

.btn-learn-more-story {
  font-family: HammersmithOne;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #00e0d0;
  border-color: #00e0d0;
  background-color: transparent;
  padding: 15px;
  margin-top: 31px;
  margin-bottom: 70px;
  display: block;
  text-transform: uppercase;
}

#story-video {
  height: 550px;
  opacity: 0.85;
}

#video[poster] {
  -o-object-fit: inherit;
     object-fit: inherit;
}

.circle {
  margin: 240px 500px;
  width: 100px;
  height: 80px;
}

.triangle {
  margin: 260px -570px;
  width: 50px;
  height: 35px;
  z-index: 1;
}

.text-under-video {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: -220px;
}

.big-arrow {
  margin: 0 100px;
}

#story {
  margin-top: 70px;
}

/************************ expertise **************************/
.expertise {
  height: 755px;
  display: inline;
}

.exhead {
  background-color: white;
}

.exp {
  margin-top: 70px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
}

.exp-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.exp-separator {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 2px;
  opacity: 0.3;
  background-color: #413d4b;
}

.exp-heading {
  margin-top: 35px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #413d4b;
}

.exp-text {
  margin-top: 25px;
  opacity: 0.74;
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333333;
}

.exp-img {
  margin-top: 80px;
}

/******** meet our team ********/
.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meet-our-team {
  /* height: 712px; */
  background-image: url(../img/overlay_1799.png);
}

.meet-heading {
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 70px;
}

.meet-text {
  font-family: PlayfairDisplay;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #f9f9f9;
}

.meet-separator {
  width: 50px;
  height: 2px;
  opacity: 0.2;
  background-color: #ffffff;
  margin: 0 auto;
  display: inline;
}

.team-member {
  margin-top: 47px;
  /* margin-left: 20px; */
}

.member-name {
  margin-top: 23px;
  opacity: 0.87;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.profession {
  margin-top: 12px;
  opacity: 0.61;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #fafafa;
}

.join-us {
  margin-top: 70px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #f3f3f3;
}

.btn-we-are-hiring {
  font-family: HammersmithOne;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #00e0d0;
  border-color: #00e0d0;
  background-color: transparent;
  padding: 15px;
  margin-top: 25px auto;
  display: inline;
  text-transform: uppercase;
  margin-bottom: 70px;
}

/*********** our works ****************/
.work-heading {
  text-transform: uppercase;
}

.our-works {
  text-align: center;
  margin-top: 70px;
}

.arrow-right {
  margin-top: -3px;
  margin-left: 3px;
}

.see-all-projects {
  display: inline;
}

.works-first-row {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 213px;
  height: 200px;
  margin: 70px 0 0 0;
}

.works-second-row {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 213px;
  height: 200px;
  margin: 0;
}

.btn-load-more {
  font-family: HammersmithOne;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #00e0d0;
  border-color: #00e0d0;
  background-color: transparent;
  padding: 15px;
  margin: 70px auto;
  display: inline;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
}

/*********** comments ****************/
.comment-slides {
  padding-top: 80px;
  margin-bottom: 70px;
}

.comments {
  background: url(../img/overlay_1053.png);
  min-height: 500px;
}

.quotes {
  margin-top: 70px;
  opacity: 0.9;
  font-family: PlayfairDisplay;
  font-size: 100px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.comment-text {
  opacity: 0.85;
  font-family: PlayfairDisplay;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.commentators-name {
  margin-top: 50px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.commentators-profession {
  margin-top: -10px;
  opacity: 0.7;
  font-family: Roboto;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
}

.commentators {
  margin: 45px 8px;
}

/********** feedback *************/
.feedback {
  min-height: 500px;
}

.good-news {
  margin-top: 70px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
}

.form-name {
  width: 460px;
  opacity: 0.1;
  border: 1px solid #000000;
  margin-top: 20px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  height: 45px;
}

.form-email {
  width: 460px;
  opacity: 0.1;
  border: 1px solid #000000;
  margin-top: 20px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  height: 45px;
}

.form-subject {
  width: 460px;
  opacity: 0.1;
  border: 1px solid #000000;
  margin-top: 20px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  height: 45px;
}

.form-message {
  width: 460px;
  opacity: 0.1;
  border: 1px solid #000000;
  margin-top: 20px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  height: 200px;
}

.btn-submit {
  margin-top: 20px;
  margin-left: 38px;
  margin-bottom: 70px;
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  font-family: HammersmithOne;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #00e0d0;
  text-transform: uppercase;
}

.happy-client {
  margin-top: 70px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
}

input[type="text"]::-webkit-input-placeholder {
  opacity: 0.9;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #022417;
  padding-left: 20px;
  padding-top: 20px;
}

input[type="text"]:-ms-input-placeholder {
  opacity: 0.9;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #022417;
  padding-left: 20px;
  padding-top: 20px;
}

input[type="text"]::-ms-input-placeholder {
  opacity: 0.9;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #022417;
  padding-left: 20px;
  padding-top: 20px;
}

input[type="text"]::placeholder {
  opacity: 0.9;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #022417;
  padding-left: 20px;
  padding-top: 20px;
}

.barneys {
  width: 154px;
  height: 41px;
}

.gucci {
  width: 140px;
  height: 21px;
}

.firms {
  margin: 20px;
}

.footer {
  background: url(../img/footer/footer-bg.jpg) no-repeat;
  min-height: 400px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-headers {
  margin-top: 85px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer-bottoms {
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer-row-one {
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer-row-two {
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer-arrow {
  margin-top: -10px;
}

.footer-tajam {
  margin-top: -45px;
  margin-left: 50px;
  color: #079598;
}

.footer-links {
  margin-bottom: 50px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer-input {
  padding: 18px 26px 18px 16px;
  background-color: rgba 255, 255, 255, 0.5;
  border: 1px solid #fff;
}

.footer-subscribe {
  margin-top: -15px;
  padding: 17px 20px;
  background-color: rgba 255, 255, 255, 0.3;
  border: none;
}
/*# sourceMappingURL=style.css.map */